/* imported google fonts */
@import url('https://fonts.googleapis.com/css2?family=Gwendolyn&display=swap');

/* ----------------------------------------- generic style */
*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  --primary-bg: #ccc;
  --secondary-bg: #666;
  --tertiary-bg: #444;
  --quaternary-bg: #fafafa;
  --primary-text: #222;
  --secondary-text: rgba(255, 255, 255, 0.3);
  --tertiary-text: #cfb53b;
  --quaternary-text: #fafafa;
  --anchor:  rgba(156, 173, 70, 0.9);
  --primary-nav: #666;
  --secondary-nav: #666;
  --primary-gradient: linear-gradient(to right, #222, #ccc);
  --secondary-gradient: linear-gradient(to right, #012A4A, #A9D6E5);
  --primary-fade: rgba(44, 125, 160, 0.9);
  --secondary-fade: rgba(44, 125, 160, 0.9);
  --table-fade: rgba(255, 255, 255, 0.05);
  --table-border: rgba(255, 255, 255, 0.15);
  --font-style: "Gwendolyn", cursive;
  --inset-box: inset 0 0 6px var(--primary-text);
}

body {
  display: flex;
  flex-direction: column;
  background-color: var(--primary-bg);
  color: var(--primary-text);
  font-family: Arial, Helvetica, sans-serif;
  font-style: italic;
  font-size: 120%;
  width: 100%;
  max-width: 100%;
  min-height: 100vh;
  margin: 0;
}

header {
  background: none;
  color: var(--primary-text);
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  width: 100%;
  z-index: 7777;
  padding: 10px;
}

header.active {
    background: var(--primary-nav);
}

header.scrolled {
  background: var(--primary-nav);
}

main {
  flex: 1 0 auto;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}

.wrapper {
    display: flex;
}

.wrapper-col {
    display: flex;
    flex-direction: column;
}

.grow {
    flex-grow: 1;
}

.button {
    text-decoration: none;
    background: rgba(255, 255, 255, 0.5);
    border: 1px solid var(--quaternary-text);
    color: var(--primary-text);
    border-radius: 5px;
    padding: 5px 8px;
    box-shadow: 0 1px 2px var(--secondary-bg), 0 2px 4px var(--secondary-bg);
}

.centre-text {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    z-index: 5;
}

/* ----------------------------------------- nav */
nav {
  background: var(--secondary-nav);
  position: absolute;
  width: 100%;
  display: none;
  top: 100%;
  right: 0;
}

nav ul {
    list-style-type: none;
}

#menu {
  font-size: 80%;
  letter-spacing: 4px;
  padding: 0 40px;
}

#menu>li {
  margin-top: 1em;
  margin-bottom: 1em;
  padding-bottom: 1em;
  border-bottom: 1px solid var(--quaternary-text);
}

#menu li a {
  color: var(--quaternary-text);
  text-decoration: none;
  display: block;
  width: 100%;
}

#nav-toggle:checked~nav {
  display: block;
}

#nav-toggle {
  display: none;
}

.nav-toggle-label {
  font-size: 2rem;
  color: var(--quaternary-text);
}

.tell {
    text-decoration: none;
    color: var(--quaternary-text);
}

.active {
  color: var(--anchor) !important;
  border-bottom: 2px solid var(--anchor) !important;
}

/* Logo */
.logo {
    display: grid;
    position: relative;
    width: 50px;
    aspect-ratio: 1 / 1; /* Perfect square */
    text-decoration: none;
    font-family: var(--font-style);
    color: var(--tertiary-text);
    border: 2px groove var(--tertiary-text);
    box-shadow: inset 0 0 6px #cfb53b80;
    align-items: center;
    justify-items: center;
}

.logo .first-letter,
.logo .second-letter {
  position: absolute;
  font-size: 1.5em;
  line-height: 1;
}

/* Position K (top-right) and R (bottom-left) */
.logo .first-letter {
  top: -2px;
  left: 2px;
}

.logo .second-letter {
  bottom: -1px;
  right: 7px;
}

.title p {
    font-size: 0.5em;
    margin: 0;
    padding: 5px 0 0 5px;
    color: var(--quaternary-text);
}

/* ----------------------------------------- list */
.alt {
  list-style: none;
  padding: 0;  
}

/* ----------------------------------------- footer */
footer {
  background-color: var(--tertiary-bg);
  color: var(--secondary-text);
  width: 100%;
  padding: 1rem;
  font-size: 80%;
  z-index: 7777;
}

footer ul {
  list-style: none;
}

footer ul > li {
    border-left: solid 1px var(--secondary-text);
    display: inline-block;
    line-height: 1;
    margin-left: 1.5em;
    padding: 0 0 0 1.5em;
}

footer ul > li:first-child {
    border-left: 0;
    margin: 0;
    padding-left: 0;
}

footer a {
    color: var(--secondary-text);
}

/* ----------------------------------------- hero */
#hero {
  position: relative;
  color: var(--secondary-text);
  text-align: center;
  background-image: url("../images/img01.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top 0 right 15%;
  min-height: 100vh;
  z-index: 1;
}

#fade-layer {
    position: absolute;
    inset: 0;
    background-size: cover;
    background-position: top 0 right 15%;
    background-repeat: no-repeat;
    opacity: 0;
    transition: opacity 2s ease-in-out; /*match JS timeout duration*/
    z-index: 2; /* Below text but above base background */
}

#hero::before {
  content: "";
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.3);
  pointer-events: none; /* so overlay doesn't block clicks */
  z-index: 3;
}

#hero h2 {
    margin: 1em 0.3em;
    color: var(--quaternary-text);
    text-decoration: underline;
    text-shadow: -1px -1px 0 var(--secondary-bg), 1px -1px 0 var(--secondary-bg), -1px  1px 0 var(--secondary-bg), 1px  1px 0 var(--secondary-bg);
}

/* Initial hidden state and animation */
#hero h2,
#hero .button {
  opacity: 0;
  animation: fade-in-up 4s ease-out forwards;
}

#hero h2 {
    animation-delay: 0.5s;
}

/* Delay the button slightly */
#hero .button {
  animation-delay: 2s;
}

/* The dots/bullets/indicators */
#dots-wrapper {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 20px;
    z-index: 4;
}

.dot {
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background: none;
    border: 1px solid #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 2s ease; /*match JS timeout duration*/
    cursor: pointer;
}

.active-dot {
    background-color: #bbb;
}

/* Fade-in animation */
@keyframes fade-in-up {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

/* ----------------------------------------- intro */
#intro {
    text-align: center;
}

#intro h2,
#intro p {
    position: relative;
    z-index: 5;
    line-height: 1.5;
}

#under-image {
    position: relative;
    background-image: url("../images/O9FG4D0.jpg");
    background-position: top right;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    z-index: 1;
    padding: 1em;
}

#under-image::before {
  content: "";
  position: absolute;
  inset: 0;
  background: rgba(255, 255, 255, 0.9);
  pointer-events: none; /* so overlay doesn't block clicks */
  z-index: 2;
}

.intro-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center; 
  max-width: 1200px;
  margin: 0 auto;
  padding: 2rem;
  gap: 1rem;
}

/* ----------------------------------------- service grid */

.centre {
    display: grid;
    grid-template-columns: 1fr;
    padding: 1em;
    gap: 1em;
    background-color: var(--tertiary-bg);
}

.centre img {
    width: 100%;
    max-width: 100%;
    height: auto;
    border-radius: 4px;
    margin: auto;
}

.centre hr {
    width: 70%;
    padding: 2px;
    background: var(--primary-bg);
    border-radius: 4px;
}

#locations {
    position: relative;
    background-image: url("/assets/images/map-location.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    z-index: 1;
    padding: 2em;
    border-radius: 4px;
}

#locations::before {
    content: "";
    position: absolute;
    inset: 0;
    background: rgba(255, 255, 255, 0.9);
    pointer-events: none; /* so overlay doesn't block clicks */
    z-index: 2;
    border-radius: 4px;
    box-shadow: inset 0 0 6px var(--primary-text);
}

#locations p {
    position: relative;
    text-align: center;
    max-width: 400px;
    z-index: 5;
    line-height: 1.5;
}

/* ----------------------------------------- service grid */
.services-grid {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1rem;
  padding: 1rem;
}

.service-row {
  position: relative;
  padding: 1.5rem;
  border: 1px solid #bbb;
  box-shadow: inset 0 0 6px var(--primary-text);
  background: var(--quaternary-bg);
  overflow: hidden;
  border-radius: 5px;
}

.service-row h3 {
  margin: 0 0 2rem 2rem;
  font-weight: 500;
}

.tick-icon {
  position: absolute;
  top: 1rem;
  left: 1rem;
  color: var(--secondary-bg);
  font-size: 2rem;
  opacity: 0;
  transform: scale(0.3);
  transition: opacity 1s ease, transform 0.5s ease;
  opacity: 0;
}

.tick-icon.visible {
  opacity: 1;
  transform: scale(1);
}


/* ----------------------------------------- contact us */
#contact-h1 {
    margin: 6rem 0 0 2rem;
}

#contact-h1 + hr {
    max-width: 100%;
    padding: 2px;
    background: var(--primary-gradient);
    margin: 0 2rem 2rem 2rem;
    border: none;
}

#contact-intro {
    background: var(--quaternary-bg);
    width: 100%;
    position: relative;
    outline: 2px solid var(--primary-bg);
    outline-offset: -12px; /* moves outline inside the box */
    padding: 1rem 2rem;
}

#contact-intro p {
    margin: 3rem auto;
    max-width: 450px;
    text-align: center;
}

#contact-details div {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 2rem;
    gap: 1rem;
    background-color: var(--tertiary-bg);
}

#contact-details a {
    width: 100%;
    padding: 20px;
    background: var(--quaternary-bg);
    border-radius: 4px;
    text-decoration: none;
    color: var(--primary-text);
    box-shadow: var(--inset-box);
}

.bg-img {
  /* The image used */
  background-image: url("../images/property-themes.jpg");
  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  display: flex;
  justify-content: flex-end;

  /* Control the height of the image */
}

.bg-img form {
    border-radius: 4px;
}

.bg-img input,
.bg-img textarea {
    font-size: 16px;
}

/* Add styles to the form container */
.container {
  position: relative;
  float: right;
  margin: 2rem;
  max-width: 500px;
  padding: 16px;
  background-color: #f2f2f2;
  max-height: 550px;
}

form h2 {
    margin: 0 0 0.5em 0;
}

/* Style inputs with type="text", select elements and textareas */
#name, #phone, #email, #message, #location {
  width: 100%; /* Full width */
  padding: 12px; /* Some padding */ 
  border: 1px solid #ccc; /* Gray border */
  border-radius: 4px; /* Rounded borders */
  box-sizing: border-box; /* Make sure that padding and width stays in place */
  margin-top: 6px; /* Add a top margin */
  margin-bottom: 10px; /* Bottom margin */
  resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */
}

form p {
    margin: 0;
    padding: 0 5px;
}

form #message {
    height: 150px;
} 

/* Style the submit button with a specific background color etc */
form button {
  background-color: var(--secondary-bg);
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

/* When moving the mouse over the submit button, add a darker green color */
form button:hover {
  background-color: var(--primary-bg);
}

.dropbtn {
    display: flex;
    justify-content: space-between;
    background-color: #fff;
    padding: 16px;
    font-size: 16px;
    cursor: pointer;
}

.dropbtn:hover, .dropbtn:focus {
  background-color: #f2f2f2;
}

#myInput {
  box-sizing: border-box;
  background-image: url(/assets/images/searchicon.png);
  background-position: 14px 12px;
  background-repeat: no-repeat;
  font-size: 16px;
  padding: 14px 20px 12px 45px;
  border: none;
  border-bottom: 1px solid #ddd;
}

input:focus,
textarea:focus {outline: 3px solid #ddd;}

.dropdown {
  position: relative;
  display: inline-block;
  width: 100%;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #fafafa;
  min-width: 230px;
  border: 1px solid #ddd;
  z-index: 1;
  top: 71px;
}

.dropdown-content ul {
  padding: 0;
  margin: 0;
  max-height: 195px;
  overflow: auto;
}

.dropdown-content li {
    padding: 12px 14px;
    list-style: none;
    border-bottom: 1px solid #bbb;
    width: 100%;
}

.dropdown li:hover {background-color: #ddd;}

.show {display: block;}


/* ----------------------------------------- gallery */
.gallery-grid {
    display: grid;
    gap: 1rem; /* spacing between items */
    grid-template-columns: 1fr; /* default: 1 column */
    margin: 1rem;
}

div.gallery {
  border: 1px solid var(--secondary-bg);
  position: relative;
  cursor: pointer;
}

div.gallery:hover {
  border: 1px solid var(--tertiary-bg);
}

div.gallery img {
  width: 100%;
  height: auto;
}

div.desc {
  text-align: center;
  position: absolute; /* Position the background text */
  bottom: 0; /* At the bottom. Use top:0 to append it to the top */
  background: rgb(0, 0, 0); /* Fallback color */
  background: rgba(0, 0, 0, 0.5); /* Black background with 0.5 opacity */
  color: #f1f1f1; /* Grey text */
  width: 100%;
  padding: 20px; /* Some padding */
}

/* Lightbox container */
.lightbox {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.85);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 9999;
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.5s ease;
}

/* Show lightbox */
.lightbox.active {
  visibility: visible;
  opacity: 1;
}

/* Enlarged image */
.lightbox img {
  max-width: 90%;
  max-height: 80%;
  border-radius: 4px;
  transform: scale(0.3);
  opacity: 0;
  transition: transform 2s ease, opacity 0.5s ease;
}

/* Animate image when active */
.lightbox.active img {
  transform: scale(1);
  opacity: 1;
}

/* ----------------------------------------- media queries */
/* ----------------------------------------- 500px */
@media (min-width: 500px) {
    .gallery-grid {
        grid-template-columns: repeat(2, 1fr); /* 2 columns */
    }
}

/* ----------------------------------------- 768px */
@media (min-width: 768px) {
  main {
    margin: 0;
    width: 70%;
    align-self: flex-end;
  }

  header {
    background: var(--primary-nav);
    justify-content: unset;
    align-items: unset;
    flex-direction: column;
    width: 30%;
    height: 100vh;
    overflow-y: auto;
  }

  nav {
      display: flex;
      flex-direction: column;
      flex-grow: 1;
      position: relative;
      background: none;
      width: 100%;
      right: 1.5rem;
      top: 0;
    }
    
    .nav-toggle-label {
        display: none;
    }
    
    #menu {
        padding: 0 0 0 40px;
        flex-grow: 1;
    }
    
    #hero {
     background-attachment: fixed;
     background-position: center;
     padding: 5rem 1rem;
     height: auto;
   }
    
   #fade-layer {
     background-attachment: fixed;
     background-position: center;
     padding: 5rem 1rem;
     height: auto;
   }

  footer {
    width: 70%;
    align-self: flex-end;
  }

  .logo {
    width: 75px;
  }

  .logo .first-letter,
  .logo .second-letter {
    font-size: 2.5em;
  }

  /* Position K (top-right) and R (bottom-left) */
  .logo .first-letter {
    top: -5px;
    left: 1px;
  }

  .logo .second-letter {
    bottom: -4px;
    right: 12px;
  }

  .title p {
    font-size: 0.8rem;
    padding: 8px 0 0 8px;
  }

  #contact-h1 {
    margin-top: 2rem;
  }

}


/* ----------------------------------------- 960px */
@media (min-width: 960px) {
    #contact-details div {
        flex-direction: row;
    }
}

/* ----------------------------------------- 1280px */
@media (min-width: 1280px) {
    main {
    width: 80%;
  }

  header {
    width: 20%;
  }

  footer {
    width: 80%;
  }

  .copy-icon:hover {
    color: #fafafa;
  }

  .intro-wrapper {
    max-width: 600px;
  }

  .centre hr {
    display: none;
  }

  .centre {
    grid-template-columns: 1fr 1fr;
  }

  #locations p {
    position: absolute;
    bottom: 4em;
  }

   .services-grid {
    grid-template-columns: 1fr 1fr;
  }

  #contact-intro {
        position: absolute;
        top: 18rem;
        right: 36rem;
        max-width: 500px;
        border-radius: 4px;
  }

  #contact-intro p {
    margin: 2rem auto;
  }

  .gallery-grid {
        grid-template-columns: repeat(4, 1fr); /* 4 columns */
  }
}
